### CREAMOS EL ARCHIVO SQL

In [1]:
with open("consulta.sql", "w") as file:
    file.write("SELECT * FROM Ejemplo;")

### Librerias y LLamar a Lector_deConsulta.py

In [2]:
!pip install mysql-connector-python pyarrow pandas

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/dist-packages (18.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 58.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [3]:
!python Lector_deConsulta.py

Conexión exitosa
/content/Lector_deConsulta.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
Datos guardados en '/content/Carpeta_ejemplo/resultado.parquet'
Conexión cerrada.

### VERIFICAMOS QUE ESTE BIEN EL ARCHIVO CREADO

In [5]:
import os, pandas as pd

print(os.listdir("/content/Carpeta_ejemplo"))
df = pd.read_parquet("/content/Carpeta_ejemplo/resultado.parquet")
print(df)

['resultado.parquet']
   Casas  Empleado  Animales  Apartamente  Carros
0      1         2         3            4       5
1      2         3         4            5       6
2      3         4         5            6       7
3      8         9         0            1       2
4      3         4         5            6       7
5      8         9         0            1       2
6      3         4         5            6       7
7      8         9         0            1       2
8      3         4         5            6       7
9      8         9         0            1       2